<div class="bg-gray-900 h-screen font-sans">
    <div class="container animate__animated animate__zoomIn mx-auto h-full flex justify-center items-center">
        <div class=" w-11/12 md:w-1/2 lg:w-1/3">
            <h1 class="font-hairline text-white mb-6 text-center text-2xl"> <span class="text-green-200">Geo</span>Tasks - Plazas <i class="fab fa-pagelines text-green-200"></i> </h1>
            <form class="border-green-400 border-t-8 mb-6 rounded-lg shadow-lg px-5 py-2 bg-white"
                  autocomplete="off"
                  [formGroup]="loginForm"
                  (submit)="login()"  
            >
                <div class="mt-4 mb-4">
                    <label for="dni" class="font-semibold block mb-2 text-gray-600"> 
                        <i class="fas fa-user mr-1"></i>
                        Usuario 
                    </label>
                    <input type="text" 
                           id="dni" 
                           placeholder="Ingrese su DNI"
                           formControlName="dni" 
                           class="block appearance-none w-full bg-white border border-gray-100 hover:border-gray-300 px-2 py-2 rounded shadow">
                </div>
                <div>
                    <label for="password" class="font-semibold block mb-2 text-gray-600"> 
                        <i class="fas fa-key mr-1"></i>
                        Contraseña 
                    </label>
                    <input type="password" 
                           id="password" 
                           placeholder="Ingrese su Password" 
                           formControlName="password"
                           class="block appearance-none w-full bg-white border border-gray-100 hover:border-gray-300 px-2 py-2 rounded shadow">
                </div>
                <div class="flex items-center justify-between mt-4">
                    <button [disabled]="loading" [ngClass]="{'bg-green-300':loading, 'bg-green-500':!loading}" class="focus:outline-none text-white hover:bg-green-300 transition duration-200 font-semibold py-2 px-4 rounded"> 
                        <span *ngIf="!loading"> Ingresar </span>
                        <span *ngIf="loading"> Cargando <i class="fas fa-spinner animate-spin"></i> </span> 
                    </button>
                    <a class="no-underline inline-block align-baseline font-semibold text-sm text-green-600 float-right hover:text-green-500 transition duration-200" href="#"> ¿Olvidaste tu contraseña? </a>
                </div>
            </form>
        </div>
    </div>
</div>
