<nav class="flex animate__animated animate__fadeIn bg-white items-center justify-between border-l-8 border-green-500 flex-wrap p-5 shadow">
    <div class="flex items-center lg:flex-shrink-0 w-full lg:w-auto justify-between">
      <div>
        <a routerLink="/dashboard/home" class="ml-0 outline-none lg:ml-2 text-xl text-gray-800 cursor-pointer"> <span class="text-green-500">Geo</span>Tasks - Plazas <i class="fab fa-pagelines text-green-500"></i> </a>
      </div>
      <div class="mr-6 block lg:hidden flex justify-between outline-none">
        <span routerLink="/dashboard/alertas" class="relative inline-flex rounded-md cursor-pointer outline-none">
          <a type="button" class="inline-flex items-center shadow border px-3 py-2 text-xl leading-6 font-medium rounded-md text-gray-600 bg-white transition ease-in-out duration-150 outline-none">
            <i *ngIf="!showAlert" class="far far fa-bell hover:text-green-500"></i>
            <i *ngIf="showAlert" class="fas fa-bell hover:text-red-500"></i>
          </a>
          <span *ngIf="showAlert" class="flex absolute h-3 w-3 top-0 right-0 -mt-1 -mr-1">
            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500"></span>
          </span>
        </span>
      </div>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="lg:block lg:flex-grow ml-0 lg:ml-7 text-gray-800">
        <a routerLinkActive="text-green-500" routerLink="/dashboard/home" class="block outline-none lg:inline-block mt-4 lg:mt-0 cursor-pointer md:mr-4 hover:text-green-500"> 
          <i class="fas fa-home mr-1"></i>
          Home
        </a>
        <a routerLinkActive="text-green-500" routerLink="/dashboard/geolocalizar" class="block outline-none lg:inline-block mt-4 lg:mt-0 mr-4 cursor-pointer hover:text-green-500"> 
          <i class="fas fa-globe-americas mr-1"></i>
          Geolocalizar plazas
        </a>
        <a routerLinkActive="text-green-500" routerLink="/dashboard/plazas" class="block outline-none lg:inline-block mt-4 lg:mt-0 cursor-pointer mr-4 hover:text-green-500"> 
          <i class="fas fa-tree mr-1"></i>
          Tus plazas
        </a>
        <a *ngIf="usuarioLogin.role == 'ADMIN_ROLE'" routerLinkActive="text-green-500" routerLink="/dashboard/usuarios" class="block outline-none lg:inline-block mt-4 lg:mt-0 cursor-pointer mr-4 hover:text-green-500"> 
          <i class="fas fa-user mr-1"></i>
          Usuarios
        </a>
      </div>
  
      <div title="Alertas" class="md:flex md:items-center md:justify-between">
        <div class="mr-6 hidden lg:block">
          <span routerLink="/dashboard/alertas" class="relative inline-flex rounded-md shadow-sm cursor-pointer outline-none">
            <a type="button" class="inline-flex items-center shadow border px-4 py-2 text-xl leading-6 font-medium rounded-md text-gray-600 bg-white transition ease-in-out duration-150 outline-none">
              <i *ngIf="!showAlert" class="far fa-bell hover:text-green-500"></i>
              <i *ngIf="showAlert" class="fas fa-bell hover:text-red-500"></i>
            </a>
            <span *ngIf="showAlert" class="flex absolute h-3 w-3 top-0 right-0 -mt-1 -mr-1">
              <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"></span>
              <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500"></span>
            </span>
          </span>
        </div>
        <button (click)="logout()" class="mt-5 outline-none lg:mt-0 lg:mt-0 inline-block px-0 py-2 leading-none text-gray-700 font-semibold focus:outline-none hover:text-red-500"> 
          <i class="fas fa-sign-out-alt mr-1"></i>
          Cerrar Sesión 
        </button>
      </div>
    </div>
  </nav>
