<div class="mt-5 pb-8 bg-gray-900 h-screen">
    <div class="animate__animated animate__zoomIn bg-white w-11/12 lg:w-1/2 mr-auto ml-auto">    
        <div class="flex items-center justify-between border-t-8 border-green-500 bg-gray-100 rounded-top text-white p-3 text-2xl font-hairline">
                <div class="text-gray-600 md:ml-5">
                    <i class="fas fa-tree mr-1"></i>
                    <span class="ml-1">
                        Listado de plazas
                    </span>
                </div>
                <a title="Reporte - Plazas (PDF)" (click)="generarReporte()" *ngIf="total != 0" class="border shadow p-2 cursor-pointer hover:text-green-500 text-xl ml-5 md:mr-4 bg-white text-gray-600 rounded px-3">
                    <i class="fas fa-print"></i>
                </a>
            </div>
            <!-- <div *ngIf="plazas.length == 0" class="bg-white text-md text-gray-500 p-4">
                <h1> No hay ninguna plaza creada... </h1>
                <p class="text-sm"> Crea una nueva plaza en <span class="text-green-500 font-semibold outline-none cursor-pointer ml-1" routerLink="/dashboard/geolocalizar"> <i class="fas fa-globe-americas"></i> Geolocalizar plaza </span> </p>
            </div> -->
            <!-- component -->
            <div class="antialiased font-sans bg-gray-100 shadow">
                <div class="container mx-auto px-4 sm:px-8">
                    <div class="py-8">
                        <div>
                            <h2 class="text-2xl text-gray-700 font-semibold leading-tight"> Plazas ({{ total }}) </h2> 
                        </div>
                        <div class="md:flex items-center md:justify-between mr-3">
                            <div class="my-2 flex sm:flex-row flex-col">
                                <div class="flex flex-row mb-1 sm:mb-0">
                                    <div class="relative">
                                        <select #txtLista
                                                (change)="filtradoPorLista(txtLista.value)"
                                                class="appearance-none border h-full rounded-r border-t sm:rounded-r-none sm:border-r-0 border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                                            <option value=""> Todos </option>
                                            <option value="activos"> Activos </option>
                                            <option value="inactivos"> Inactivos </option>
                                        </select>
                                        <div
                                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="block relative">
                                    <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                                        <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500">
                                            <path
                                                d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                                            </path>
                                        </svg>
                                    </span>
                                    <input #txtDescripcion
                                           (keyup)="filtradoPorDescripcion(txtDescripcion.value)" 
                                           placeholder="Descripción"
                                           class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none" />
                                </div>
                            </div>
                            <div>
                                <button routerLink="/dashboard/geolocalizar" class="flex items-center p-2 shadow cursor-pointer rounded bg-green-500 text-white focus:outline-none hover:bg-green-400"> 
                                    <i class="fas fa-globe-americas mr-2"></i>
                                    Geolocalizar plaza
                                </button>
                            </div>
                        </div>
                        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                            
                            <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                                <table class="min-w-full leading-normal">
                                    <thead>
                                        <tr>
                                            <th
                                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                Descripción
                                            </th>
                                            <!-- <th
                                                class="px-5 text-center py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                Tareas pendientes
                                            </th> -->
                                            <th
                                                class="px-5 text-center py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                Ultima visita
                                            </th>
                                            <th
                                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                ¿Activo?
                                            </th>
                                            <th
                                                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                                Acciones
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="!loading">
                                        <tr class="animate__animated animate__fadeIn" *ngFor="let plaza of plazas">
                                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                <div class="flex items-center">
                                                    <div>
                                                        <p class="text-gray-900 whitespace-no-wrap">
                                                            {{ plaza.descripcion }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                            <!-- <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                    {{ plaza.tareas.length === 0 ? 'Ninguna' : plaza.tareas.length }}
                                                </p>
                                            </td> -->
                                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
                                                {{ plaza.fecha_ultima_visita | fecha:'mostrar'}}
                                            </td>
                                            <td (click)="actualizarPlaza(plaza)"
                                                class="px-5 py-5 text-center border-b border-gray-200 bg-white text-sm">
                                                <span [ngClass]="{'text-green-900' : plaza.activo, 'text-red-900' : !plaza.activo}"
                                                      class="relative inline-block px-3 py-1 font-semibold leading-tight cursor-pointer">
                                                    <span [ngClass]="{'bg-green-200' : plaza.activo, 'bg-red-200' : !plaza.activo}"
                                                          ria-hidden
                                                          class="absolute inset-0 opacity-50 rounded-full"></span>
                                                    <span class="relative">
                                                        {{ plaza.activo ? 'Activo' : 'Inactivo' }}
                                                    </span>
                                                </span>
                                            </td>
                                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                                <div class="text-center">
                                                    <div class="flex items-center justify-center">
                                                        <p title="Tareas" class="text-gray-900 focus:outline-none whitespace-no-wrap">
                                                            <i [routerLink]="['/dashboard/plazas/tareas', plaza._id]" class="border p-2 rounded shadow px-3 far fa-clipboard text-xl mr-2 text-gray-600 hover:text-green-500 cursor-pointer outline-none"></i>
                                                        </p>
                                                        <p title="Historial de tareas" class="text-gray-900 focus:outline-none whitespace-no-wrap"> 
                                                            <i [routerLink]="['/dashboard/plazas/tareas/historial', plaza._id]" class="border p-2 rounded shadow px-3 fas fa-history text-xl mr-2 text-gray-600 hover:text-green-500 cursor-pointer outline-none"></i>
                                                        </p>
                                                        <p title="Editar plaza" class="text-gray-900 focus:outline-none whitespace-no-wrap">
                                                            <i [routerLink]="['/dashboard/plazas/editar', plaza._id]" class="border p-2 rounded shadow px-3 fas fa-pencil-alt text-xl text-gray-600 hover:text-green-500 cursor-pointer outline-none"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div *ngIf="loading" class="text-gray-500 p-5 text-center">
                                    <i class="fas fa-spinner animate-spin"></i> Cargando plazas
                                </div>
                                <div 
                                    *ngIf="!loading"
                                    class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between          ">
                                    <span class="text-xs xs:text-sm text-gray-900">
                                        Mostrando {{total > 0 ? desde + 1 : 0 }} - {{ hasta < total ? hasta : total}} de {{ total }} plazas
                                    </span>
                                    <div class="inline-flex mt-2 xs:mt-0">
                                        <button (click)="actualizarDesdeHasta('anterior')"
                                                class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-l focus:outline-none">
                                            Anterior
                                        </button>
                                        <button (click)="actualizarDesdeHasta('siguiente')"
                                                class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-r focus:outline-none">
                                            Siguiente
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>


