<div class="mt-5 pb-8 bg-gray-900 h-screen">
    <div class="animate__animated animate__zoomIn bg-white shadow w-11/12 md:w-1/2 xl:w-1/4 mr-auto ml-auto rounded">
        <div class="flex items-center bg-green-500 p-3 text-white text-xl"> 
            <i routerLink="/dashboard/plazas" class="fas mr-3 fa-arrow-circle-left cursor-pointer outline-none"></i>                
            <div>
                <span *ngIf="loading"> <i class="fas fa-spinner animate-spin"></i> Cargando plaza </span>
                <span *ngIf="!loading"> {{ plaza.descripcion }} </span>
            </div> 
        </div>
        <form class="p-4"
                autocomplete="off"
                [formGroup]="plazaForm"
                (submit)="agregarTarea()">
            <label for="tarea" class="text-gray-700 font-semibold"> Nueva tarea </label>
            <input 
                id="tarea"
                type="text" 
                class="shadow border w-full mt-2 rounded p-2 text-gray-700" 
                formControlName="tarea"
                placeholder="Descripción">
            <button [disabled]="loading" [ngClass]="{' bg-green-300 cursor-wait':loading, 'bg-green-500':!loading }" class="text-white p-1 rounded shadow mt-3 w-full">
                Agregar
            </button>
        </form>
    </div>

    <div class="animate__animated animate__zoomIn mt-5 shadow bg-white w-11/12 md:w-11/12 xl:w-1/2 mr-auto ml-auto p-4 rounded">
        <h1 class="text-xl text-gray-700"> Listado de tareas </h1>
        
        <div *ngIf="loading">
            <div class="text-gray-500 pt-2">
                <i class="fas fa-spinner animate-spin"></i> Cargando tareas...
            </div>
        </div>

        <div *ngIf="!loading" class="mt-1">
            <span class="text-gray-500"> {{ plaza.tareas.length === 0 ? 'No hay ninguna tarea pendiente...' : null }} </span>
            <div class="mt-4">
                <div *ngFor="let tarea of plaza.tareas" class="flex items-center justify-between shadow p-3 mb-2 rounded border border-l-8 border-green-400 text-gray-700">
                    <div>
                        <p class="font-semibold text-gray-600"> {{ tarea.descripcion }} </p>
                        <p class="text-xs text-gray-500"> {{ tarea.creacion | fecha}} </p>
                    </div>
                    <i (click)="completarTarea(tarea._id)" class="fas fa-check-circle text-3xl text-gray-700 hover:text-green-500 cursor-pointer hover:outline-none"></i>    
                </div>
            </div>
        </div>
    </div>
</div>
