 
<app-tarjeta width="w-11/12 md:w-1/2 xl:w-1/4" *ngIf="usuarioLogin.role == 'ADMIN_ROLE'">
    <div class="flex items-center text-gray-600 bg-gray-100 p-3 text-white text-lg"> 
        <app-boton-volver ruta="/dashboard/plazas"></app-boton-volver>                
        <div>
            <span *ngIf="loading"> <i class="fas fa-spinner animate-spin"></i> Cargando plaza </span>
            <div *ngIf="!loading" class="flex-col">
                <h1 class="font-semibold"> {{ plaza.descripcion }} </h1>
                <app-pastilla
                    texto="Nueva tarea"
                    icono="fas fa-calendar-plus">
                </app-pastilla>
            </div>
        </div> 
    </div>
    <form class="p-4"
            autocomplete="off"
            [formGroup]="plazaForm"
            (submit)="agregarTarea()">
        <div>
            <label for="tarea" class="text-gray-700 font-semibold"> Nueva tarea </label>
            <input 
                id="tarea"
                type="text" 
                class="shadow border w-full mt-2 rounded p-2 text-gray-700" 
                formControlName="tarea"
                placeholder="Descripción">
        </div>
        <div class="mt-3">
            <label for="fecha_limite" class="font-semibold text-gray-600"> Fecha limite </label>
            <input 
                class="w-full bg-white text-gray-600 border shadow p-3 mt-2 outline-none" 
                id="fecha_limite" 
                formControlName="fechaLimite"
                [min]="hoy"
                type="date">
        </div>    
        <app-boton-realizar [loading]="loading">
            Agregar
        </app-boton-realizar>
    </form>
</app-tarjeta>

<app-tarjeta>
    <div class="flex items-center text-gray-600 justify-between bg-gray-100 rounded-top text-xl text-white p-3 font-hairline">
        <div class="flex items-center">
            <app-boton-volver 
                *ngIf="usuarioLogin.role != 'ADMIN_ROLE'"
                ruta="/dashboard/plazas">
            </app-boton-volver>
            <div>
                <h1 *ngIf="usuarioLogin.role != 'ADMIN_ROLE'" class="ml-1 font-semibold"> {{ plaza.descripcion }} </h1>
                <h1 *ngIf="usuarioLogin.role == 'ADMIN_ROLE'" class="ml-1 font-semibold"> Tareas </h1>
                <app-pastilla
                    texto="Listado de tareas"
                    icono="fas fa-clipboard">
                </app-pastilla>
            </div>
        </div>
        <app-boton-imprimir 
                *ngIf="totalTareas != 0 && usuarioLogin.role == 'ADMIN_ROLE'" 
                titulo="Reporte - Tareas pendientes (PDF)" 
                (reporte)="reporte()"
            ></app-boton-imprimir>
    </div>
    <div *ngIf="tareas.length == 0" class="bg-white text-md text-gray-500 p-4">
        <h1> No hay ninguna tareas pendientes... </h1>
    </div>
    <!-- component -->
    <div *ngIf="tareas.length != 0" class="antialiased font-sans bg-gray-100 shadow">
        <div class="container mx-auto px-4 sm:px-8">
            <div class="py-8">
                <div>
                    <h2 class="text-xl text-gray-700 font-semibold leading-tight"> Tareas pendientes ({{ totalTareas }}) </h2> 
                </div>
                <div class="md:flex items-center md:justify-between mr-3">
                    
                </div>
                <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                    
                    <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                        <table class="min-w-full leading-normal">
                            <thead>
                                <tr>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Descripción
                                    </th>
                                    <th
                                        class="px-5 text-center py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Fecha creación
                                    </th>
                                    <th
                                        class="px-5 text-center py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Fecha limite
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Acciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!loading">
                                <tr [ngClass]="{'bg-yellow-100': (tarea.fecha_limite | fecha:'comparar') == 'PorVencer', 'bg-red-100': (tarea.fecha_limite | fecha:'comparar') == 'Vencida'}" class="animate__animated animate__fadeIn bg-white" *ngFor="let tarea of tareas">
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm">
                                        <div class="flex items-center">
                                            <div>
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                    {{ tarea.descripcion }}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm text-center">
                                        <p class="text-green-700 font-semibold whitespace-no-wrap">
                                            {{ tarea.fecha_creacion | fecha:'mostrar'}}
                                        </p>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm text-center">
                                        <p class="text-red-700 font-semibold whitespace-no-wrap">
                                            {{ tarea.fecha_limite | fecha:'mostrar'}}
                                        </p>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 text-sm">
                                        <div class="text-center">
                                            <div class="flex items-center justify-center">
                                                <app-boton-tabla 
                                                    *ngIf="usuarioLogin.role == 'ADMIN_ROLE'"
                                                    ruta='/dashboard/plazas/tareas/editar'
                                                    titulo="Editar tarea"
                                                    icono="fas fa-pencil-alt" 
                                                    [id]="tarea._id">
                                                </app-boton-tabla>
                                                <app-boton-tabla 
                                                    titulo="Completar tarea"
                                                    icono="fas fa-check-circle"
                                                    (completar)="completarTarea(tarea._id)">
                                                </app-boton-tabla>   
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div *ngIf="loading" class="text-gray-500 p-5 text-center">
                            <i class="fas fa-spinner animate-spin"></i> Cargando tareas
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-tarjeta>

<br><br>
