<app-tarjeta width="w-11/12 md:w-1/2 xl:w-1/4">
    <div class="flex items-center text-gray-600 text-white bg-gray-100 p-3">
        <app-boton-volver ruta="/dashboard/plazas"></app-boton-volver>      
        <span *ngIf="loading"> <i class="fas fa-spinner animate-spin"></i> Cargando plaza </span>
        <div class="ml-2" *ngIf="!loading">
            <h1 class="text-lg font-semibold"> {{ plaza.tipo['descripcion'] }} {{ plaza.descripcion }} </h1>
            <app-pastilla
                texto="Editando"
                icono="fas fa-pencil-alt">
            </app-pastilla>
        </div>
    </div>
    <form 
        [formGroup]="plazaForm"
        (submit)="actualizarPlaza()"
        class="bg-gray-100 p-4">
        <div>
            <label 
                for="descripcion_id"
                class="font-semibold "
                >
                Nombre
            </label>
            <input  
                id="descripcion_id"
                type="text"
                class="shadow border p-2 mt-2 rounded w-full"
                formControlName="descripcion"
                placeholder="Nombre de la plaza"
                >
        </div>
        <div class="mt-2">
            <label for="tipo" class="font-semibold"> Tipo </label>
            <select 
                class="w-full p-2 shadow rounded mt-1"
                formControlName="tipo"
                >
                <option 
                    *ngFor="let tipo of tipos"
                    [value]="tipo._id"> {{ tipo.descripcion }} </option>
            </select>
        </div>

        <app-boton-realizar [loading]="loading">
            Actualizar
        </app-boton-realizar>
    </form>
</app-tarjeta>

<!-- Mapa -->
<div class="map-wrapper-edit w-11/12 md:w-1/2 mr-auto ml-auto shadow border-t-8 border-green-500">
    <div class="bg-gray-100 text-gray-600 p-1 pt-2">
        <h1 *ngIf="loading" class="text-center"> <i class="fas fa-spinner animate-spin"></i> Cargando geolocalización </h1>
    </div>
    <div class="map-border-editar">
        <div id="map"></div>
    </div>
</div>

