<div class="bg-gray-900 h-screen font-sans pt-10">
    <div class="animate__animated animate__zoomIn">
        <div routerLink="/dashboard/geolocalizar" class="bg-white shadow w-11/12 sm:w-3/4 xl:w-1/2 mr-auto ml-auto border-l-8 border-green-500 hover:text-green text-center p-10 rounded text-gray-700 cursor-pointer">
            <i class="fas fa-globe-americas mr-1 text-5xl"></i>
            <h1 class="mt-4 font-semibold"> Geolocalizar plazas </h1>
        </div>
        <div routerLink="/dashboard/plazas" class="bg-white shadow w-11/12 sm:w-3/4 xl:w-1/2 mt-5 mr-auto ml-auto border-l-8 border-green-500 hover:text-green text-center p-10 rounded text-gray-700 cursor-pointer">
            <i class="fas fa-tree mr-1 text-5xl"></i>
            <h1 class="mt-4 font-semibold"> Tus plazas </h1>
        </div>
        <div routerLink="/dashboard/usuarios" class="bg-white shadow w-11/12 sm:w-3/4 xl:w-1/2 mt-5 mr-auto ml-auto border-l-8 border-green-500 hover:text-green text-center p-10 rounded text-gray-700 cursor-pointer">
            <i class="fas fa-user mr-1 text-5xl"></i>
            <h1 class="mt-4 font-semibold"> Usuarios </h1>
        </div>
    </div>
</div>
