<div class="bg-gray-900 h-screen font-sans pt-10">
    <div *ngIf="loading" class="ml-auto mr-auto bg-white w-11/12 sm:w-3/4 xl:w-1/2 p-4 border shadow rounded text-gray-600"> 
        <i class="fas fa-spinner animate-spin mr-1"></i> Cargando contenido
    </div>
    <div *ngIf="!loading" class="animate__animated animate__zoomIn">     
        <app-boton-home
                *ngIf="totalVencidas != 0"
                titulo="Alertas"
                icono="fas fa-bell"
                ruta="/dashboard/alertas"
                borde="border-red-500"
            ></app-boton-home>
        <app-boton-home 
                titulo="Geolocalizar plazas" 
                icono="fas fa-globe-americas"
                ruta="/dashboard/geolocalizar"   
            ></app-boton-home>
        <app-boton-home
                titulo="Tus plazas"
                icono="fas fa-tree"
                ruta="/dashboard/plazas"
            ></app-boton-home>
    </div>
</div>
