@import "~leaflet/dist/leaflet.css";

.map-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 85px;
}

.map-wrapper-edit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 450px;
  height: 350px;
}


@media (max-width: 1020px) {
  .map-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 300px;
  }

  .map-wrapper-edit {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 660px;
    height: 350px;
  }
}

.map-border {
  border: 5px solid #10b981;
  height: 100%;
}

.map-border-editar {
  border: 5px solid #f3f4f6;
  height: 100%;
}

#map {
  height: 100%;
  z-index: 0;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

button:focus {
  outline: none;
}

/* Para evitar cuadro azul en celular al hacer clic */
a { -webkit-tap-highlight-color: rgba(0,0,0,0); }
button { -webkit-tap-highlight-color: rgba(0,0,0,0); }
div { -webkit-tap-highlight-color: rgba(0,0,0,0); }